<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Your Password</h1>
    <p>Please follow the link below to reset your password:</p>
    <!-- <p><a href="<%= resetPassword %>">Reset Password</a></p> -->
    <a href="http://127.0.0.1:4335/api/reset-password/<%=resetPassword%>">Reset Password</a>
    <p>Thank you.</p>
</body>
</html>
